// MHM - added extra

*{
	box-sizing: border-box;
}

.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    vertical-align: top;
  }
  // ---

// // Generic 2:
// ul,
// li {
//     margin: 0;
//     padding: 0;
// }

ul {
    appearance: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    //color: #fff;
}

// a,
// li {
//     font-size: 15px;
//     font-weight: bold;
// }

// ----------------





